<h1>Game list</h1>
<!-- <button  class="btn btn-primary" ng-click="checkAll()">Check all</button> -->
<button  class="btn btn-primary" ng-click="uncheckAll()">Uncheck all</button>
<div ng-controller="listCtrl">
	<search-directive></search-directive>
</div>
<button type="button" name="button" ng-click="compareTwoGames()" class="magicButton" id="mostImportantButton">Compare</button>
<table class="table table-hover table-bordered" ng-if="!games">
	<tr>
		<th>Cover</th>
		<th>Name</th>
		<th>Console(s)</th>
		<th>Date</th>
		<th>Compare</th>
	</tr>
	<tr ng-repeat="games in dbGames | filter:searchBox ">
		<td>
			<img src="https:{{games.cover[0].url}}" class="thumb">
		</td>
		<td>
			{{games.name}}
		</td>
		<td>
			<div ng-repeat="release in games.releases">
				{{release.platform_name}}
			</div>
		</td>
		<td>
			<div ng-repeat="release in games.releases">
				{{release.release_date}}
			</div>
		</td>
		<td>
			<input type="checkbox" checklist-model="game.names" checklist-value="games" class="checkbox">
		</td>
	</tr>
</table>
<!-- <label>Search: <input ng-model="searchText"></label> -->

<!-- <div class="outerTable">

<table class="table table-hover table-bordered differentTable">
	<tr>
		<th>Name</th>
		<th>Console(s)</th>
		<th>Date</th>
		<th>Compare</th>
	</tr>
	<tr ng-repeat="games in dbGames | filter:searchBox ">
		<td>
			{{games.name}}
		</td>
		<td>
			<div ng-repeat="release in games.releases">
				{{release.platform_name}}
			</div>
		</td>
		<td>
			<div ng-repeat="release in games.releases">
				{{release.release_date}}
			</div>
		</td>
		<td>
			<input type="checkbox" checklist-model="game.names" checklist-value="games" class="checkbox">
		</td>
	</tr>
</table>
</div> -->
