<h1>Game List</h1>
<div ng-controller="listCtrl" class="col-xs-12">
	<search-directive></search-directive>
</div>
<div class="col-sm-12">
	<button  class="btn magicButton" ng-click="uncheckAll()">Uncheck all</button>
	<button  class="btn magicButton" ng-click="init()">Upd8</button>
</div>
<div class="col-sm-12">
	<button type="button" name="button" ng-click="compareTwoGames()" class="btn magicButton" id="mostImportantButton">Compare</button>
</div>
<table class="table table-hover table-bordered games-table" ng-if="!games">
	<tr>
		<th>Cover</th>
		<th>Name</th>
		<th>Console(s)</th>
		<th>Date</th>
		<th>Compare</th>
	</tr>
	<tr ng-repeat="games in dbGames | filter:searchBox">
		<td>
			<img src="https:{{games.cover[0].url}}" class="thumb game-pic">
		</td>
		<td class="game-name">
			{{games.name}}
		</td>
		<td>
			<div ng-repeat="release in games.releases" class="platform">
				{{release.platform_name}}
			</div>
		</td>
		<td>
			<div ng-repeat="release in games.releases" class="release">
				{{release.release_date}}
			</div>
		</td>
		<td class="compare">
			<input type="checkbox" checklist-model="game.names" checklist-value="games" class="checkbox" name={{games.name}} id={{games.name}}>
			<label for={{games.name}}>Compare</label>
		</td>
	</tr>
</table>
<div class="col-sm-12">
	<button type="button" name="button" ng-click="compareTwoGames()" class="btn magicButton" id="mostImportantButton">Compare</button>
</div>
<div class="bottom"></div>
