<div class="userList-titleHeader">
  <h1>User List</h1>
</div>
<div class="userList-titleSearch col-sm-12">
  <input type="text" ng-model="searchTerm" ng-keyup="updateSearch(searchTerm)" placeholder="Search">
</div>
<br>
<div class="container">
  <div id="user-list-container" class="col-xs-12">
    <div ui-sref='userPage({username: user.username})' class="userContainer row" ng-repeat='user in users | orderBy: "-score" track by $index '>
      <div class="userListProfilePicDiv col-xs-4">
        <img ng-if="!user.avatar"src="http://gitrnl.networktables.com/resources/userfiles/nopicture.jpg" class="userThumbnail"></img>
        <img ng-if="user.avatar"src="data:image/jpeg;base64,{{user.avatar}}" class="userThumbnail"></img>
      </div>
      <div class="mainzText col-xs-4">
        <h3 class="user-name">{{user.username}}</h3>
      </div>
      <div class="mainzText col-xs-4">
        <h3 class="user-score">{{user.score}}</h3>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-2 col-centered"></div>

<div ng-if="isAdmin">
  <button ng-click="eraseUser(user._id)">Delete</button>
</div>
