@font-face {
	font-family: Ponderosa; src: url('ponde.ttf');
	font-family: Zig; src: url('Zig.ttf');
	font-family: Charybdis; src: url('Chary.ttf');
}
#game1{
	display: inline-block;
	border: 3px solid #F8A055;
	width: 700px;
	vertical-align: top;
	border-radius: 10px;
	background-color: #FCFDFE;
	/*background: blue;*/
	/*float: left;*/
}
#game2{
	display: inline-block;
	border: 3px solid #F8A055;
	width: 700px;
	vertical-align: top;
	border-radius: 10px;
	background-color: #FCFDFE;
	/*background: blue;*/
	/*float: left;*/
}
.radar{
	background-color: #33383E;
	border: 1px solid black;
	color: white;
}
.review{
	border: 1px solid black;
	color: white;
	border-radius: 10px;
	margin-top: 10px;
	margin-right: 10px;
}
.review:hover{
	border: 2px solid black;
	box-shadow: 10px 10px 5px #888888;
}
.ign{
	background-color: #d3222a;
}
.metacritic{
	background-color: #FFCD34;
}
.gamespot{
	background-color:#5ba4a4;
}
a{
	color: inherit;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
.better{
	color: green;
}
.isGreaterThan{
	color: green;
	font-weight: bold;
}
.isLessThan{
	color: red;
	/*font-size: 20px;*/
	font-weight: lighter;

}
.isEqualTo{
	color: blue;
}
.reviews{
	display: inline-block;
	font-family: Zig;
	font-size: 20px;
	float: right;
}
.title{
	text-align: center;
	font-weight: bold;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	color: white;
	font-family: Zig;
}
.total{
	border: 1px solid black;
	background-color: #6699ff;
	display: inline-block;
	font-size: 20px;
	font-family: Zig;
	color: white;
	border-radius: 10px;
	margin-top: 10px;
	margin-right: 10px;
}
h1{
	/*font-family: Zig;*/
	font-family: Ponderosa;
}
*{
	/*font-family: Charybdis;*/
	font-size: 20px;
}
body{
	background-color: #283655;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #F8A055;
    margin: 1em 0;
    padding: 0;
}
