#game1{
	display: inline-block;
	border: 1px solid black;
	width: 400px;
	vertical-align: top;
	/*background: blue;*/
}
#game2{
	display: inline-block;
	border: 1px solid black;
	width: 400px;
	vertical-align: top;
	/*background: red;*/
}
.radar{
	background-color: #33383E;
	border: 1px solid black;
	color: white;
}
.ign{
	background-color: #d3222a;
	border: 1px solid black;
	color: white;
}
.metacritic{
	background-color: #010101;
	border: 1px solid black;
	color: white;
}
.gamespot{
	background-color:#5ba4a4;
	border: 1px solid black;
	color: white;
}
a{
	color: inherit;
	text-decoration: none;
}
.better{
	color: green;
}
.isGreaterThan{
	color: green;
	font-weight: bold;
}
.isLessThan{
	color: red;
	font-weight: lighter;
}
.isEqualTo{
	color: blue;
}
