<h1>Game list</h1>
<button type="button" name="button" ng-click="compareTwoGames()">Compare</button>

<label>Search: <input ng-model="searchText"></label>
<table class="table table-hover">
	<tr>
		<th>Name</th>
		<th>Console(s)</th>
		<th>Date</th>
		<th>Compare</th>
	</tr>
	<tr ng-repeat="games in dbGames | filter:searchText ">
		<td>
			{{games.name}}
		</td>
		<td>
			<div ng-repeat="release in games.releases">
				{{release.platform_name}}
			</div>
		</td>
		<td>
			<div ng-repeat="release in games.releases">
				{{release.release_date}}
			</div>
		</td>
		<td>
			<input type="checkbox" checklist-model="game.names" checklist-value="games">
			<!-- <input type="checkbox" name="name" value="{{games.name}}"> -->
		</td>
	</tr>
</table>
