<h1>Games</h1>
<p>This is the games page</p>
<button ng-click="compare(game1, game2)">Compare</button>
<br>
<label for="game1">Game 1</label>
<select ng-model="game1">
	<option ng-repeat="games in dbGames track by $index" value="{{games.name}}">
		{{games.name}}
	</option>
</select>
<label for="game2">Game 2</label>
<select ng-model="game2">
	<option ng-repeat="games in dbGames track by $index" value="{{games.name}}">
		{{games.name}}
	</option>
</select>
<br>
<h1>
	{{gameOne.name}}
</h1>
<div id="game1">
	<img src="https:{{gameOneCover}}" alt="">
	<div class="reviews">
		<p class="radar" >
			<a href="{{gameOneRadarUrl}}" ng-class="comparing(gameOneRadarCritic, gameTwoRadarCritic)" ng-if="gameOneRadarCritic > 0 || gameOneRadarUser > 0">
				Gamesradar:
				<br>
				Critc Score: {{gameOneRadarCritic}}/5
				User Score: {{gameOneRadarUser}}/5
			</a>
		</p>
		<p class="ign">
			<a href="{{gameOneIgnUrl}}" ng-class="comparing(gameOneIgnCritic, gameTwoIgnCritic)" ng-if="gameOneIgnCritic > 0 || gameOneIgnUser > 0">
				IGN:
				<br>
				Critic Score: {{gameOneIgnCritic}}/10
				User Score: {{gameOneIgnUser}}/10
			</a>
		</p>
		<p class="metacritic">
			<a href="{{gameOneMetaUrl}}" ng-class="comparing(gameOneMetaCritic, gameTwoMetaCritic)" ng-if="gameOneMetaCritic > 0 || gameOneMetaUser > 0">
				Metacritic:
				<br>
				Critic Score: {{gameOneMetaCritic}}/100
				User Score: {{gameOneMetaUser}}/100
			</a>
		</p>
		<p class="gamespot">
			<a href="{{gameOneSpotUrl}}" ng-class="comparing(gameOneSpotCritic, gameTwoSpotCritic)" ng-if="gameOneSpotCritic > 0 || gameOneSpotUser > 0">
				Gamespot:
				<br>
				Critic Score: {{gameOneSpotCritic}}/10
				User Score: {{gameOneSpotUser}}/10
			</a>
		</p>
	</div>
	<div ng-repeat="company in gameOne.companies">
		<p ng-if="company.developer">
			Developed by: {{company.name}}
		</p>
		<p ng-if="company.publisher">
			Published by: {{company.name}}
		</p>
	</div>
	Release(s):
	<div ng-repeat="release in gameOne.releases">
		<p>
			{{release.release_date}} for {{release.platform_name}}
		</p>
	</div>
	Genre(s):
	<div ng-repeat="genre in gameOne.genres">
		{{genre.name}}
	</div>
	<br>
	Themes(s):
	<div ng-repeat="theme in gameOne.themes">
		{{theme.name}}
	</div>
	<p>
		Summary: {{gameOne.summary}}
	</p>
</div>
<h1>
	{{gameTwo.name}}
</h1>
<div id="game2">
	<img src="https:{{gameTwoCover}}" alt="">
	<div class="reviews">
		<p class="radar">
			<a href="{{gameTwoRadarUrl}}" ng-class="comparing(gameTwoRadarCritic, gameOneRadarCritic)" ng-if="gameTwoRadarCritic > 0 || gameTwoRadarUser > 0">
				Gamesradar:
				<br>
				Critc Score: {{gameTwoRadarCritic}}
				User Score: {{gameTwoRadarUser}}
			</a>
		</p>
		<p class="ign">
			<a href="{{gameTwoIgnUrl}}" ng-class="comparing(gameTwoIgnCritic, gameOneIgnCritic)" ng-if="gameTwoIgnCritic > 0 || gameTwoIgnUser > 0">
				IGN:
				<br>
				Critic Score: {{gameTwoIgnCritic}}
				User Score: {{gameTwoIgnUser}}
			</a>
		</p>
		<p class="metacritic">
			<a href="{{gameTwoMetaUrl}}" ng-class="comparing(gameTwoMetaCritic, gameOneMetaCritic)" ng-if="gameTwoMetaCritic > 0 || gameTwoMetaUser > 0">
				Metacritic:
				<br>
				Critic Score: {{gameTwoMetaCritic}}
				User Score: {{gameTwoMetaUser}}
			</a>
		</p>
		<p class="gamespot">
			<a href="{{gameTwoSpotUrl}}" ng-class="comparing(gameTwoSpotCritic, gameOneSpotCritic)" ng-if="gameTwoSpotCritic > 0 || gameTwoSpotUser > 0">
				Gamespot:
				<br>
				Critic Score: {{gameTwoSpotCritic}}
				User Score: {{gameTwoSpotCritic}}
			</a>
		</p>
	</div>
	<div ng-repeat="company in gameTwo.companies">
		<p ng-if="company.developer">
			Developed by: {{company.name}}
		</p>
		<p ng-if="company.publisher">
			Published by: {{company.name}}
		</p>
	</div>
	Release(s):
	<div ng-repeat="release in gameTwo.releases">
		<p>
			{{release.release_date}} for {{release.platform_name}}
		</p>
	</div>
	Genre(s):
	<div ng-repeat="genre in gameTwo.genres">
		{{genre.name}}
	</div>
	<br>
	Themes(s):
	<div ng-repeat="theme in gameTwo.themes">
		{{theme.name}}
	</div>
	<p>
		Summary: {{gameTwo.summary}}
	</p>
</div>
