<h1>List of ongoing Death Matches</h1>
<div class="userList-titleSearch">
  <input type="text" ng-model="searchTerm" ng-keyup="updateSearch(searchTerm)">
</div>
<table class="table table-hover table-center table-bordered">
  <tbody>
    <tr ng-repeat="match in deathMatches" ui-sref="deathMatchPage({id: match._id})" class="">
      <td>
        <h2 class="username">
          {{match.user.name}}
        </h2>
      </td>
      <td>
        <img src="https:{{match.game1.cover[0].url}}" class="thumb">
        <td ng-class="comparing(match.game1UserReviews.length, match.game2UserReviews.length)">
          <div class="battleText">
            {{match.game1.name}}
          </div>
        </td>
      </td>
      <td class="battleText">
        V.S
      </td>
      <td>
        <img src="https:{{match.game2.cover[0].url}}" class="thumb">
        <td ng-class="comparing(match.game2UserReviews.length, match.game1UserReviews.length)">
          <div class="battleText">
            {{match.game2.name}}
          </div>
        </td>
      </td>
    </tr>
  </tbody>
</table>
