<input type="text" placeholder="Game Name" ng-model="searchBox">
<button ng-click="search(searchBox)">Find</button>
<button ng-click="saveGame()">Save Game</button>
<img src="{{loadingImage}}" alt="" ng-if="!reviews && loading || !games && loading">
<div ng-if="gameInfo && reviews" class="happyBox">
	<img src="https:{{gameInfo.cover.url}}" alt="">
	<p>
		Name: {{gameInfo.name}}
	</p>
	<p>
		Summary: {{gameInfo.summary}}
	</p>
	<div ng-repeat="genre in gameInfo.genres track by $index">
		<p>
			Genres: {{genre.name}}
		</p>
	</div>
	<div class="reviews">
		<div class="review radar" ng-if="gamesradar.criticScore > 0 || gamesradar.userScore > 0">
			<a href="{{gamesradar.url}}">
				<p>
					Gamesradar:
				</p>
				<p ng-if="gamesradar.criticScore > 0">
					Critc Score: {{gamesradar.criticScore}}/5
				</p>
				<p ng-if="gamesradar.userScore > 0">
					User Score: {{gamesradar.userScore}}/5
				</p>
			</a>
		</div>
		<div class="review ign"  ng-if="ign.criticScore > 0 || ign.userScore > 0">
			<a href="{{ign.url}}">
				<p>
					IGN:
				</p>
				<p ng-if="ign.criticScore > 0">
					Critic Score: {{ign.criticScore}}/10
				</p>
				<p ng-if="ign.userScore > 0">
					User Score: {{ign.userScore}}/10
				</p>
			</a>
		</div>
		<div class="review metacritic" ng-if="metacritic.criticScore > 0 || metacritic.userScore > 0">
			<a href="{{metacritic.url}}">
				<p>
					Metacritic:
				</p>
				<p ng-if="metacritic.criticScore > 0">
					Critic Score: {{metacritic.criticScore}}/100
				</p>
				<p ng-if="metacritic.userScore > 0" >
					User Score: {{metacritic.userScore}}/10
				</p>
			</a>
		</div>
		<div class="review gamespot" ng-if="gamespot.criticScore > 0 || gamespot.userScore > 0">
			<a href="{{gamespot.url}}">
				<p>
					Gamespot:
				</p>
				<p ng-if="gamespot.criticScore > 0">
					Critic Score: {{gamespot.criticScore}}/10
				</p>
				<p ng-if="gamespot.userScore > 0">
					User Score: {{gamespot.userScore}}/10
				</p>
			</a>
		</div>
		<button class="magicButton" ng-click="saveGame()">Save Game</button>
	</div>
</div>
<table class="table table-hover" ng-if="games && !loading">
	<tr>
		<th>
			Name
		</th>
		<th>
			Release Date
		</th>
	</tr>
	<tr ng-repeat="game in games track by $index" ng-click="openGame(game.id, game.name)" ng-if="games">
		<script>
		var realTime = moment(game.release_date).format('MMMM Do YYYY');
		console.log("UN REAL TIME!",realTime);
		</script>
		<td>
			{{game.name}}
		</td>
		<td>
			{{game.release_date | cmdate:'MM/dd/yyyy'}}
		</td>
	</tr>
</table>
