<!-- <div ng-controller="deathMatchPageCtrl"> -->
<div class="sideBySide col-xs-12">
  <h1>DEATHMATCH</h1>
  <br>
	<death-match-directive class="col-sm-6 contenderOne" game-one="gameOne" game-two="gameTwo" game-num="1" game-name="gameOne.name" user-reviews="game1UserReviews"></death-match-directive>
	<death-match-directive class="col-sm-6 contenderTwo" game-one="gameTwo" game-two="gameOne" game-num="2" game-name="gameTwo.name" user-reviews="game2UserReviews"></death-match-directive>
</div>
<!-- </div> -->
