<div class="container">
	<div class="row">
		<div class="col-md-12" id="profile">
			<div>
				<div class="col-sm-4 col-xs-12" id="profileA">
					<h1 id="userHeader">{{user.username}}</h1>
					<div id="imageHolder">
						<img class="img-rounded col-xs-12 happyBox" src={{profileImageSrc}} id="userImage"></img>
					</div>
					<div ng-show="isOwnPage" class="avatar-upload col-sm-12">
						<div class="input-group">
							<div class="btn-file">
								<label for="avatar">Browse Files</label>
								<br>
								<input name="avatar" class="avatar" type="file" ng-model="user.uploadedImage" base-sixty-four-input>
							</div>
							<span class="isLessThan">Max size is 75kb</span>
							<br>
							<!-- <input ng-model="user.uploadedImage.filename" class="form-control" type="text" readonly> -->
							<button class="btn magicButton" ng-disabled="!user.uploadedImage" ng-click="uploadImage(user.uploadedImage)">Submit</button>
							<br>
							<button  class="btn magicButton" ng-if="!isEditing" ng-click="toggleEdit()">Edit Profile</button>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-8">

					<h1 ng-show="isEditing">Edit Profile</h1>
					<div ng-if="isOwnPage" ng-show="isEditing" id="profile" class="userInfo editInfo">
						<div class="row">
							<label ng-if="isEditing" class="col-xs-4" for="email" id="profileHeader">New Email:</label>
							<input ng-model="editPayload.email" class="col-xs-8" value="{{user.email}}" ng-if="isEditing"/><br>
						</div>
						<div class="row">
							<label ng-if="isEditing" class="col-xs-4" for="name" id="profileHeader">New Name:</label>
							<input ng-if="isEditing" class="col-xs-8" ng-model="editPayload.name" value="{{user.name}}"/>
						</div>
						<div class="row">
							<label ng-if="isEditing" class="col-xs-4" for="username" id="profileHeader">New Username:</label>
							<input ng-if="isEditing" class="col-xs-8" ng-model="editPayload.username" value="{{user.username}}" />
						</div>
						<br>
						<button class="btn magicButton" ng-if="isEditing" ng-click="saveEdits()">Save Changes</button>
						<button  class="btn magicButton" ng-if="isEditing" ng-click="toggleEdit()">Cancel</button>
					</div>

					<h1 ng-hide="isEditing">Info</h1>
					<div id="profileDetails" class="userInfo dtborder" ng-hide="isEditing">
						<h2 ng-if="!isEditing" id="profileDetails">Name:</h2><span>{{user.name}}</span>
						<h2 ng-if="!isEditing" id="profileDetails">Username:</h2><span>{{user.username}}</span>
						<h2 ng-if="!isEditing" id="profileDetails">Join Date:</h2><span>{{user.joinDate | date:"MM/dd/yyyy 'at' h:mma"}}</span>
					</div>
				</div>
				<div class="col-xs-12 col-sm-8" ng-hide="isEditing">
					<h1>Stats</h1>
					<div id="profileDetails" class="userInfo">
						<h2 ng-if="!isEditing" id="profileDetails">Game Reviews:</h2>
						<span>{{user.reviews.length}}</span>
						<br>
						<button class="btn magicButton" ng-click="showGames = !showGames">Toggle Reviews</button>
						<div ng-repeat="review in user.reviews" ng-if="showGames" class="animate">
							<h2 ng-click="getToMatch(review.deathMatch._id)">
								<div class="gameReview">
									{{review.game}}:
									<br>
									{{review.review}}
									<br>
									{{review.score}}
								</div>
							</h2>
						</div>
						<h2  ng-if="!isEditing" id="profileDetails">Deathmatches started:</h2>
						<span>{{user.deathMatches.length}}</span>
						<br>
						<button class="btn magicButton" ng-click="showMatches = !showMatches" >Toggle Matches</button>
						<div ng-repeat="deathMatch in user.deathMatches" ng-if="showMatches" class="deathMatchName">
							<span class="gameReview" ng-click="getToMatch(deathMatch._id)">{{deathMatch["game1"].name}} VS {{deathMatch["game2"].name}}</span>
						</div>
						<h2 ng-if="!isEditing" id="profileDetails">Points:</h2>
						<span>{{user.score}}</span>
					</div>
					<div class="bottom"></div>
				</div>
				<!-- <div>
					<div class="col-sm-4 col-sx-12" id="profile">
					<div ng-repeat="favorite in favorites track by $index" class="col-xs-12">
					<div id="FavoritesImageDiv">
					<img ng-if="favorite.avatar"src="data:image/jpeg;base64,{{favorite.avatar}}" class="userThumbnail" id="favoriteImage"></img>
					<img ng-if="!favorite.avatar"src="http://gitrnl.networktables.com/resources/userfiles/nopicture.jpg" class="userThumbnail" id="favoriteImage"></img>
				</div>
				<a ui-sref='userPage({username: favorite.username})'>{{favorite.username}}</a>
				<button  class="btn btn-primary" ng-click="removeFavorite(favorite._id)">Unfavorite</button>
				<div ng-if="isAdmin">
				<button ng-click="eraseUser(user._id)">Delete</button>
			</div>
		</div>
	</div>
</div> -->
</div>
</div>
</div>
</div>
</div>
