<div class="container">
	<div class="row">
		<div class="col-md-12" id="profile">
			<div>
				<div ng-if="isLoggedIn" class="col-sm-4 col-xs-12" id="profileA">
					<h1 id="userHeader">{{user.username}}</h1>
					<div id="imageHolder">
						<div>
							<img class="img-rounded col-xs-6 col-sm-12"
							src={{profileImageSrc}} id="userImage"></img>
						</div>
						<div ng-show="isOwnPage" >
							<div class="input-group">
								<span class="input-group-btn">
									<button class="btn btn-primary btn-file">
										Browse Files<input type="file" ng-model="user.uploadedImage" base-sixty-four-input>
									</button>
								</span>
								<input ng-model="user.uploadedImage.filename" class="form-control" type="text" readonly>
							</div>
							<button class="btn btn-primary"ng-disabled="!user.uploadedImage" ng-click="uploadImage(user.uploadedImage)">Submit</button>
							<button  class="btn btn-primary" ng-if="!isEditing" ng-click="toggleEdit()">EDIT USER</button>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-xs-12">
					<div ng-if="isOwnPage" id="profile">
						<button class="btn btn-primary" ng-if="isEditing" ng-click="saveEdits()">SAVE USER INFO</button>
						<button  class="btn btn-primary" ng-if="isEditing" ng-click="toggleEdit()">CANCEL EDITING</button>
						<div class="row">
							<label ng-if="isEditing" for="email" id="profileHeader">New Email:</label>
							<input ng-model="editPayload.email" value="{{user.email}}" ng-if="isEditing"/><br>
						</div>
						<div class="row">
							<label ng-if="isEditing" class="col-xs-4" for="name" id="profileHeader">New Name:</label>
							<input ng-if="isEditing" class="col-xs-8" ng-model="editPayload.name" value="{{user.name}}"/>
						</div>
						<div class="row">
							<label ng-if="isEditing" class="col-xs-4" for="username" id="profileHeader">New Username:</label>
							<input ng-if="isEditing" class="col-xs-8" ng-model="editPayload.username" value="{{user.username}}" />
						</div>
					</div>
					<h1>Info</h1>
					<div id="profileDetails" class="userInfo">
						<h2 ng-if="!isEditing" id="profileDetails">Email:    {{user.email}}</h2>
						<h2 ng-if="!isEditing" id="profileDetails">Name:    {{user.name}}</h2>
						<h2 ng-if="!isEditing" id="profileDetails">Username:    {{user.username}}</h2>
						<h2 ng-if="!isEditing" id="profileDetails">Join Date:    {{user.joinDate}}</h2>
					</div>
				</div>
				<div class="col-xs-6 col-xs-12">
					<h1>Stats</h1>
					<div id="profileDetails" class="userInfo">
						<h2   ng-if="!isEditing" id="profileDetails">Game Reviews:    {{user.reviews.length}}</h2>
						<button ng-click="showGames = !showGames">Show Reviews</button>
						<div ng-repeat="review in user.reviews" ng-if="showGames">
							<h2 ng-click="getToMatch(review.deathMatch._id)">
								<div class="gameReview">
									{{review.game}}:
									{{review.review}}
								</div>
							</h2>
						</div>
						<h2  ng-if="!isEditing" id="profileDetails">Deathmatches started:    {{user.deathMatches.length}}</h2>
						<button ng-click="showMatches = !showMatches">Show Matches</button>
						<div ng-repeat="deathMatch in user.deathMatches" ng-if="showMatches">
							<h2 class="gameReview" ng-click="getToMatch(deathMatch._id)">{{deathMatch["game1"].name}} V.S {{deathMatch["game2"].name}}</h2>
						</div>
						<h2 ng-if="!isEditing" id="profileDetails">Points:    {{user.reviews.length + user.deathMatches.length}}</h2>
					</div>
				</div>
				<div>
					<div class="col-sm-4 col-sx-12" id="profile">
						<div ng-repeat="favorite in favorites track by $index" class="col-xs-12">
							<div id="FavoritesImageDiv">
								<img ng-if="favorite.avatar"src="data:image/jpeg;base64,{{favorite.avatar}}" class="userThumbnail" id="favoriteImage"></img>
								<img ng-if="!favorite.avatar"src="http://gitrnl.networktables.com/resources/userfiles/nopicture.jpg" class="userThumbnail" id="favoriteImage"></img>
							</div>
							<a ui-sref='userPage({username: favorite.username})'>{{favorite.username}}</a>
							<button  class="btn btn-primary" ng-click="removeFavorite(favorite._id)">Unfavorite</button>
							<div ng-if="isAdmin">
								<button ng-click="eraseUser(user._id)">Delete</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
