@font-face { font-family: Zig; src: url('/zig.ttf');}
/*@font-face { font-family: GlacialIndifference; src: url('/GlacialIndifference-Regular.ttf');}*/
body {
	background-color: #E7E8EF;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 3px solid #F8A055;
	margin: 1em 0;
	padding: 0;
}
h1 {
	font-family: Zig;
	text-align: center;
	font-weight: bold;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	color: #F8A055;./styles
}
h2 {
	font-family: 'Cabin', sans-serif;
	margin-top: 0;
	margin-bottom: 5px;
}
h5 {
	color: black;
}
a {
	color: inherit;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
p, div, h5 {
	font-size: 20px;
	color:inherit;
}
input {
	color: black;
}
label {
	color: #F8A055;
	font-size: 15px;
}
textarea {
	color: black;
	resize: none;
	width: 100%;
}
option {
	color: green;
}
span {
	margin-top: 0;
}
blockquote {
	width: auto;
}
.btn {
	margin: 10px 10px 10px 0;
}
.btn:hover, .btn:focus {
	color: #333;
}
.disclaimer {
	position: fixed;
	bottom: 0;
	left: 10px;
	font-family: 'Cabin', sans-serif;
	font-size: 14px;
	color: #333;
	display: inline;
	background-color: #E7E8EF;
	width: 100%;
	padding: 2px;
}


.navbar-brand {
	vertical-align: text-bottom !important;
}
.navbar-custom {
	color: orange;
	background-color: #283655;
}
.navbar-nav li a {
	line-height: 40px;
	font-family: 'Cabin', sans-serif;
	letter-spacing: 1px;
	line-height: 40px;
}
.navbar-nav > li {
	padding-left: 15px;
	padding-right: 10px;
}
.navbar .nav>li>a,
.active {
	color: #f2f2f2;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #f8a055;
	border: 1px solid #f8a055;
	height: 63px;
}

.userList-titleSearch {
	margin-bottom: 25px;
}


#imageHolder {
	margin-bottom: 10px;
}
.happyBox{
	border: 3px solid #F8A055;
	vertical-align: top;
	border-radius: 10px;
	background-color: #FCFDFE;
	color: black;
	z-index: 1;
}
div.btn-file .avatar {
	font-size: 14px;
	line-height: 0px;
	margin-bottom: 10px;
	display: inline-block;
}
div.avatar-upload {
	font-family: 'Cabin', sans-serif;
	border: 3px solid #F8A055;
	padding: 10px;
	border-radius: 10px;
	background-color: #FCFDFE;
	color: black;
	margin-top: 10px;
	height: 100%;
}
div.avatar-upload .btn {
	width: 50%;
	margin-right: 0;
}
.isLessThan {
	color: brown;
}

.userInfo {
	color: black;
	background-color: white;
	border: 3px solid #F8A055;
	border-radius: 10px;
	font-family: 'Cabin', sans-serif;
	padding: 15px;
}
.editInfo input {
	width: 75%;
	margin-left: 5%;
	margin-bottom: 15px;
}
.magicButton{
	color: #F8A055;
	font-size: 2rem;
	padding: 5px;
	margin-bottom: 10px;
	letter-spacing: 2px;
	border: 3px solid transparent;
	border-image: linear-gradient(45deg, black, #F8A055);
	border-image-slice: 1;
	background: -webkit-linear-gradient(45deg, black, #F8A055);
	-webkit-background-clip: text;
	transition: all 0.2s ease;
}

.dm {
	display: inline-block;
	width: 75%;
}
#game1 {
	display: inline-block;
	border: 3px solid #F8A055;
	width: 700px;
	vertical-align: top;
	border-radius: 10px;
	background-color: #FCFDFE;
}
death-match-directive {
	display: inline-block;
}
game-directive {
	display: inline-block;
}
.deathMatch{
	border: 1px solid black;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
}
.table-center{
	font-family: GlacialIndifference;
	margin: 0 auto !important;
	float: none !important;
}
#game2{
	display: inline-block;
	border: 3px solid #F8A055;
	width: 700px;
	vertical-align: top;
	border-radius: 10px;
	background-color: #FCFDFE;
}
.radar{
	background-color: #33383E;
	border: 1px solid black;
	color: white;
}
.review{
	border: 1px solid black;
	width: 100%;
	margin: auto;
	border-radius: 10px;
	margin-top: 10px;
}
.review:hover{
	border: 2px solid black;
	box-shadow: 10px 10px 5px #888888;
}
.ign{
	background-color: #d3222a;

}
.metacritic{
	background-color: #FFCD34;
}
.gamespot{
	background-color:#5ba4a4;
}
.better{
	color: green;
}
.isGreaterThan{
	color: #33cc33;
	font-weight: bold;
}
.isEqualTo{
	color: blue;
}
.reviews{
	text-align: center;
	font-family: Zig;
	width: 100%;
	font-size: 20px;
	vertical-align: top;
}
.title{
	text-align: center;
	font-weight: bold;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	color: white;
	font-family: Zig;
}
.total{
	width: 100%;
	border: 1px solid black;
	background-color: #6699ff;
	display: inline-block;
	font-size: 20px;
	font-family: Zig;
	color: white;
	border-radius: 10px;
	margin-top: 10px;
	margin-right: 10px;
}
.superTitle{
	font-family: Zig;
	text-align: center;
	font-weight: bold;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	color: #F8A055;./styles
}
.stats{
	font-family: Verdana, Geneva, sans-serif;
	color: black;
	font-family: GlacialIndifference;
}
#selected{
	display: inline-block;
}

div.userContainer {
	font-family: GlacialIndifference;
	background-color: #283655;
	color: #fcfcfc;
	width: 75%;
	margin: auto;
	border: 3px solid #4E5D6C;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 15px;
}
div.userContainer:hover {
	font-family: GlacialIndifference;
	background-color: #F8A055;
}

.table {
	font-family: GlacialIndifference;
	background-color: #283655;
	color: #fcfcfc;
	width: 75%;
	margin: auto;
	border-color: #F8A055;
}

.userReviews{
	border: 3px solid #F8A055;
	vertical-align: top;
	border-radius: 10px;
	background-color: #283655;
	font-family: GlacialIndifference;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #FCFDFE;
	width: 100%;
}

.user-score {
	text-align: center;
}
.user-name {
	word-wrap: break-word;
}


.gameReview{
	border: 3px solid #F8A055;
	border-radius: 10px;
	width: 100%;
	background-color: #FCFDFE;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 15px;
}
.gameReview:hover {
	cursor: pointer;
	background-color: #F8A055;
}
.deathMatchName {
	width: 100%;
	background-color: #FCFDFE;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 15px;
	margin-left: -10px;
}

.match-row {
	background-color: #283655;
	padding: 15px;
	border: 3px solid #4E5D6C;
	text-align: center;
	margin-bottom: 15px;
}
.match-row:hover {
	background-color: #F8A055; 
}
.match-row .username{
	color: #f2f2f2;
	font-family: Zig;
}
.match-row .game-img {
	border: 3px solid #4E5D6C;
	margin-bottom: 5px;
}



.userThumbnail{
	width: 100px;
}
.user{
	display: block;
	width: 25%;
}
.sideBySide{
	display: inline-block;
}
.votes {
	border-radius: 30000000px;
}
.voting {
	display: block;
	font-family: Zig;
}
.table-bordered tr {
	border: 3px solid #4E5D6C;
}
#IGDB {
	color: #27AE60;
}
#IGDB:hover {
	color: #DF691A;
}
#mostImportantButton {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
	width: 100%;
}
.mainzText>h3, .battleText {
	font-family: Zig;
}

.games-table {
	font-family: 'Cabin', sans-serif;
}
.table.games-table>tbody>tr>td {
	padding: 10px;
}
.game-name, .platform {
	font-size: 16px;
	line-height: 27px;
}
.release {
	font-size: 14px;
	line-height: 27px;
	word-wrap: nowrap;
}
.game-pic {
	border: 3px solid #4E5D6C;
}
.compare .checkbox {
	position: absolute;
	top: -99999px;
	left: -99999px;
}
.compare .checkbox + label {
	border: 3px solid #4E5D6C;
	border-radius: 4px;
	padding: 5px;
}
.compare .checkbox:checked + label {
	border: 3px solid #4E5D6C;
	background-color: #333;
	border-radius: 4px;
	padding: 5px;
}


.bottom {
	margin-bottom: 100px;
}
/* The starting CSS styles for the enter animation */
.fade.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
  opacity:1;
}
