<!DOCTYPE html>
<html>
  <head>
    <base href="/">
    <meta charset="UTF-8">
    <title>Game Compare</title>
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
    <link href="styles/style.css" rel="stylesheet">
  </head>
  <body ng-app="gameCompare">
    <h1>Game information was freely provided by IGDB.com.</h1>
    <div ui-view></div>
    <script src="assets/angular/angular.min.js"></script>
    <script src="assets/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bundle.js"></script>
  </body>
</html>
