<label for="game1">Game 1</label>
<select ng-model="game1">
	<option ng-repeat="games in dbGames | orderBy:'name'" value="{{games.name}}">
		{{games.name}}
	</option>
</select>
<label for="game2">Game 2</label>
<select ng-model="game2">
	<option ng-repeat="games in dbGames | orderBy:'name'" value="{{games.name}}">
		{{games.name}}
	</option>
</select>
<button class="btn btn-primary" ng-click="compare(game1, game2)">Compare</button>
<br>
<div id="game1">
	<a href="{{gameOne.url}}">
	<h1 class="title">
		{{gameOne.name}}
	</h1>
	</a>

	<hr>
	<img src="https:{{gameOneCover}}" class="thumb">
	<div class="reviews">
		<div class="review radar" ng-if="gameOneRadarCritic > 0 || gameOneRadarUser > 0">
			<a href="{{gameOneRadarUrl}}">
				<p>
					Gamesradar:
				</p>
				<p ng-class="comparing(gameOneRadarCritic, gameTwoRadarCritic)" ng-if="gameOneRadarCritic > 0">
					Critc Score: {{gameOneRadarCritic}}/5
				</p>
				<p ng-class="comparing(gameOneRadarUser, gameTwoRadarUser)" ng-if="gameOneRadarUser > 0">
					User Score: {{gameOneRadarUser}}/5
				</p>
			</a>
		</div>
		<div class="review ign" ng-if="gameOneIgnCritic > 0 || gameOneIgnUser > 0">
			<a href="{{gameOneIgnUrl}}">
				<p>
					IGN:
				</p>
				<p ng-class="comparing(gameOneIgnCritic, gameTwoIgnCritic)"  ng-if="gameOneIgnCritic > 0">
					Critic Score: {{gameOneIgnCritic}}/10
				</p>
				<p ng-class="comparing(gameOneIgnUser, gameTwoIgnUser)"  ng-if="gameOneIgnUser > 0">
					User Score: {{gameOneIgnUser}}/10
				</p>
			</a>
		</div>
		<div class="review metacritic" ng-if="gameOneMetaCritic > 0 || gameOneMetaUser > 0">
			<a href="{{gameOneMetaUrl}}" >
				<p>
					Metacritic:
				</p>
				<p ng-class="comparing(gameOneMetaCritic, gameTwoMetaCritic)" ng-if="gameOneMetaCritic > 0">
					Critic Score: {{gameOneMetaCritic}}/100
				</p>
				<p ng-class="comparing(gameOneMetaUser, gameTwoMetaUser)" ng-if="gameOneMetaUser > 0">
					User Score: {{gameOneMetaUser}}/10
				</p>
			</a>
		</div>
		<div class="review gamespot"  ng-if="gameOneSpotCritic > 0 || gameOneSpotUser > 0">
			<a href="{{gameOneSpotUrl}}">
				<p>
					Gamespot:
				</p>
				<p ng-class="comparing(gameOneSpotCritic, gameTwoSpotCritic)" ng-if="gameOneSpotCritic > 0">
					Critic Score: {{gameOneSpotCritic}}/10
				</p>
				<p ng-class="comparing(gameOneSpotUser, gameTwoSpotUser)" ng-if="gameOneSpotUser > 0">
					User Score: {{gameOneSpotUser}}/10
				</p>
			</a>
		</div>
		<div class="total" ng-if="gameOneCriticTotal > 0 || gameOneUserTotal > 0">
			<p>
				Total:
			</p>
			<p ng-class="comparing(gameOneCriticTotal, gameTwoCriticTotal)">
				Critic Total: {{gameOneCriticTotal}}/125
			</p>
			<p ng-class="comparing(gameOneUserTotal, gameTwoUserTotal)">
				User Total: {{gameOneUserTotal}}/35
			</p>
		</div>
	</div>
	<div class="stats">
		<div ng-repeat="company in gameOne.companies">
			<p ng-if="company.developer">
				Developed by: {{company.name}}
			</p>
			<p ng-if="company.publisher">
				Published by: {{company.name}}
			</p>
		</div>
		Release(s):
		<div ng-repeat="release in gameOne.releases">
			<p>
				{{release.release_date}} for {{release.platform_name}}
			</p>
		</div>
		Genre(s):
		<div ng-repeat="genre in gameOne.genres">
			{{genre.name}}
		</div>
		<br>
		Themes(s):
		<div ng-repeat="theme in gameOne.themes">
			{{theme.name}}
		</div>
		<p>
			Summary: {{gameOne.summary}}
		</p>
		<p ng-if="!gameOne.summary">
			This title is awaiting a description.
			<a href="{{gameOne.url}}">
			Why not add one?
			</a>
		</p>
	</div>
</div>
<div id="game2">
	<a href="{{gameTwo.url}}">
	<h1 class="title">
		{{gameTwo.name}}
	</h1>
	</a>
	<hr>
	<img src="https:{{gameTwoCover}}" class="thumb">
	<div class="reviews">
		<div class="review radar" ng-if="gameTwoRadarCritic > 0 || gameTwoRadarUser > 0">
			<a href="{{gameTwoRadarUrl}}">
				<p>
					Gamesradar:
				</p>
				<p ng-class="comparing(gameTwoRadarCritic, gameOneRadarCritic)" ng-if="gameTwoRadarCritic > 0">
					Critc Score: {{gameTwoRadarCritic}}/5
				</p>
				<p ng-class="comparing(gameTwoRadarUser, gameOneRadarUser)" ng-if="gameTwoRadarUser > 0">
					User Score: {{gameTwoRadarUser}}/5
				</p>
			</a>
		</div>
		<div class="review ign"  ng-if="gameTwoIgnCritic > 0 || gameTwoIgnUser > 0">
			<a href="{{gameTwoIgnUrl}}">
				<p>
					IGN:
				</p>
				<p ng-class="comparing(gameTwoIgnCritic, gameOneIgnCritic)" ng-if="gameTwoIgnCritic > 0">
					Critic Score: {{gameTwoIgnCritic}}/10
				</p>
				<p ng-class="comparing(gameTwoIgnUser, gameOneIgnUser)" ng-if="gameTwoIgnUser > 0">
					User Score: {{gameTwoIgnUser}}/10
				</p>
			</a>
		</div>
		<div class="review metacritic" ng-if="gameTwoMetaCritic > 0 || gameTwoMetaUser > 0">
			<a href="{{gameTwoMetaUrl}}">
				<p>
					Metacritic:
				</p>
				<p ng-class="comparing(gameTwoMetaCritic, gameOneMetaCritic)" ng-if="gameTwoMetaCritic > 0">
					Critic Score: {{gameTwoMetaCritic}}/100
				</p>
				<p ng-class="comparing(gameTwoMetaUser, gameOneMetaUser)" ng-if="gameTwoMetaUser > 0" >
					User Score: {{gameTwoMetaUser}}/10
				</p>
			</a>
		</div>
		<div class="review gamespot" ng-if="gameTwoSpotCritic > 0 || gameTwoSpotUser > 0">
			<a href="{{gameTwoSpotUrl}}">
				<p>
					Gamespot:
				</p>
				<p ng-class="comparing(gameTwoSpotCritic, gameOneSpotCritic)" ng-if="gameTwoSpotCritic > 0">
					Critic Score: {{gameTwoSpotCritic}}/10
				</p>
				<p ng-class="comparing(gameTwoSpotUser, gameOneSpotUser)" ng-if="gameTwoSpotUser > 0">
					User Score: {{gameTwoSpotCritic}}/10
				</p>
			</a>
		</div>
		<div class="total" ng-if="gameTwoCriticTotal > 0 || gameTwoUserTotal > 0">
			<p>
				Total:
			</p>
			<p ng-class="comparing(gameTwoCriticTotal, gameOneCriticTotal)">
				Critic Total: {{gameTwoCriticTotal}}/125
			</p>
			<p ng-class="comparing(gameTwoUserTotal, gameOneUserTotal)">
				User Total: {{gameTwoUserTotal}}/35
			</p>
		</div>
	</div>
	<div class="stats">
		<div ng-repeat="company in gameTwo.companies">
			<p ng-if="company.developer">
				Developed by: {{company.name}}
			</p>
			<p ng-if="company.publisher">
				Published by: {{company.name}}
			</p>
		</div>
		Release(s):
		<div ng-repeat="release in gameTwo.releases">
			<p>
				{{release.release_date}} for {{release.platform_name}}
			</p>
		</div>
		Genre(s):
		<div ng-repeat="genre in gameTwo.genres">
			{{genre.name}}
		</div>
		<br>
		Themes(s):
		<div ng-repeat="theme in gameTwo.themes">
			{{theme.name}}
		</div>
		<p>
			Summary: {{gameTwo.summary}}
		</p>
		<p ng-if="!gameTwo.summary">
			This title is awaiting a description.
			<a href="{{gameTwo.url}}">
			Why not add one?
			</a>
		</p>
	</div>
</div>
