<h1>Home</h1>
<p>This is the home page</p>

 <input type="text" placeholder="Game Name" ng-model="searchBox">
<button ng-click="search(searchBox)">Find</button>

<div ng-if="!gameInfo">
	<div ng-repeat="game in games track by $index">
		<div ng-click="openGame(game.id)">
			Name:	{{game.name}}
		</div>
	</div>
</div>

<div ng-if="gameInfo">
	<img src="https:{{gameInfo.cover.url}}" alt="">
	<p>
		Name: {{gameInfo.name}}
	</p>
	<p>
		Summary: {{gameInfo.summary}}
	</p>
	<div ng-repeat="genre in gameInfo.genres track by $index">
		<p>
			Genres: {{genre.name}}
		</p>
	</div>
</div>
<button ng-click="saveGame()">Save Game</button>
